@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background: linear-gradient(68.15deg, #2F2325 16.62%, #8E5D52 85.61%);
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.cabecalho-img {
    height: 0px;
}

.cabecalho-menu {
    display: flex;  
    gap: 50px;
}

.cabecalho-item {
    font-family: 'Sarala', sans-serif;
    color: bisque;
    font-weight: 400;
}

.cabecalho-item:hover {
    color: rgba(236, 214, 196, 0.53);
}

.conteudo {
    margin-bottom: 48px;
    border-top: 0.4px solid bisque;
}

.conteudo-main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.conteudo-escrito {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.titulo {
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 45px;
    color: bisque;
}

.subtitulo {
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 22px;
    color: bisque;
}

.conteudo-botao {
    background-color: bisque;
    width: 140px;
    height: 55px;
    border: none;
    box-shadow: 4px 5px 4px rgb(0, 0, 0, 0.25);
    border-radius: 20px;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.conteudo-botao:hover {
    background-color: rgba(236, 214, 196, 0.53);
}

.conteudo-img {
    height: 350px;
}

.conteudo-sec {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
}

.titulo-sec {
    border-top: 0.4px solid bisque;
    padding-top: 48px;
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 24px;
    color: bisque;
    margin-bottom: 10px;

}

.paragrafo {
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: bisque;
}

.rodape {
    border-top: 0.4px solid bisque;
    padding: 16px;
}

.rodape-img {
    height: 48;
    display: block;
    margin: 0 auto;
}
    